<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>IndependentProject</display-name>
	
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  
	<servlet>
		<servlet-name>WebApp</servlet-name>
		<servlet-class>example.WebApp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WebApp</servlet-name>
		<url-pattern>/WebApp</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
		<servlet-name>postForm</servlet-name>
		<servlet-class>org.IndependentProject.form.postForm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>postForm</servlet-name>
		<url-pattern>/postForm</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
		<servlet-name>JavaForm</servlet-name>
		<servlet-class>org.IndependentProject.form.JavaForm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JavaForm</servlet-name>
		<url-pattern>/JavaForm</url-pattern>
	</servlet-mapping>
	
	
	
</web-app>